# Production URL
APP_URL=https://realestate.alrowadngo.sy

# Production session settings
SESSION_DRIVER=database
SESSION_ENCRYPT=false
SESSION_DOMAIN=realestate.alrowadngo.sy
SESSION_SECURE_COOKIE=true
SESSION_PATH=/
SESSION_SAME_SITE=lax
